
	.buton-incipit 
	{
		width: 15px;
		height: 35px;
		margin: 2px 2px 0px 0px;
		padding: 8px 0px 0px 0px;
		text-align: center;
		float: left;
	}

	.barras-incipit
	{
		font-size: 15px;
		padding-top: 15px;
	}

	.compas-incipit
	{
		font-size: 26px;
	    padding-top: 3px;
	    padding-left: 3px;
	}

	.ritmicas-incipit
	{
	    padding-top: 0px;
	}

	#Clave-1
	{
		font-size: 15px;
	}

	#Clave-2
	{
		font-size: 18px;
    	padding-top: 4px;
	}

	#Clave-3
	{
		padding-top: 0px;
	}

	.toneUp
	{
		text-align: center;
		position: absolute;
    	left: 100px;
    	top: 65px; 
    	visibility: hidden;

	}

	.toneDown
	{
		text-align: center;
		position: absolute;
    	left: 100px;
    	top: 285px;
    	visibility: hidden;

    	/* Safari */
		-webkit-transform: rotate(-180deg);

		/* Firefox */
		-moz-transform: rotate(-180deg);

		/* IE */
		-ms-transform: rotate(-180deg);

		/* Opera */
		-o-transform: rotate(-180deg);

		/* Internet Explorer */
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);

		transform: rotate(180deg);

	}

	canvas
	{
		
	    -webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	}