body {
	background: #E8DED4;
}

p {
	color: #6C3F30;
}

a, a:hover, a:focus {
	color: #6C3F30;
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	color: #6C3F30;
}

hr {
	border-color: #6C3F30;
}

label {
	margin-top: 5px;
	margin-bottom: 1px;
}

dl {
	margin-bottom: 5px;
	margin-top: 5px;
}

legend {
	border-color: -moz-use-text-color -moz-use-text-color #6C3F30;
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: #6C3F30;
	color: #FFF;
}

.nav-list > li > a {
	padding: 8px 15px;
	border: solid 1px #6C3F30;
}

.navbar {
	background: #6C3F30;
	border: none;
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-inverse .navbar-nav > li > a {
	color: #ddd;
}

.navbar-inverse .navbar-brand {
    color: #ddd;
}

.btn-primary {
	border-radius: 0px;
	background: #6C3F30;
	border-color: #6C3F30;
}

.btn-primary:hover {
	border-radius: 0px;
	border: solid 1px #6C3F30;
	background: #E8DED4;
	color: #6C3F30;
}

div.pagination {
	width: 100%;
}

.breadcrumb {
	border-radius: 0px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: 1px solid #6C3F30;
}

.pagination {
	text-align: center;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: #c5b1a1;
    border-color: #6C3F30;
    color: #fff;
    cursor: default;
    z-index: 2;	
}